// Take 0x1000 bytes from storage partition and use for mira factory config
&storage_partition {
    reg = <0x0007a000 0x00005000>;
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        factory_config: partition@7F000 {
          reg = <0x7F000 0x1000>;
        };
    };
};

callback_swi: &swi3 {
    interrupts = <23 5>;
};

miramesh_swi: &swi0 { /* Supported peripheral IDs are 0, 2 and 4 */
    interrupts = <20 1>;
};

/* Only rtc2 is supported by Miramesh */
&rtc2 {
    interrupts = <36 5>;
};
